@import "../../styles.scss";

.my-name{
    @extend .full-width-centre-content;
    flex-direction: column;
    text-align: center;
   font-size: calc(min(calc(12rem),19vw)) ;
   height: 100vh;
   font-family: "Protest Guerrilla", sans-serif;
   background: white;
}

.profile{
    height: 200vh;
}

.background{
    width: 100%;
    height: 100%;
    &-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}