.experience-content-item-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
}
.company-heading{
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 2.5rem;
    font-weight: 500;
}

.company-content{
    font-size: 1.5rem;
    line-height: 2.5rem;
    color:  rgb(129,129,131);
}