.experience-content-item-wrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    width:100%;
    max-width: 60rem;
    align-self: end;
}
.company{

    &-heading{
        position: sticky;
        top: 0;
        background-color: white;
        font-size: 2.5rem;
        font-weight: 500;
    }

    &-content{
        font-size: 1.5rem;
        line-height: 2.5rem;
        color:  rgb(129,129,131);
    }
}