@import '../../styles.scss';

.about-me{
    @extend .full-width-centre-content;
    font-size: 5rem ;
    font-family: "Jersey 25 Charted", sans-serif;
    padding-top: 30%;

    &-wrapper{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-content{
        @extend .full-width-centre-content;
        font-size: 2em;
        font-family: "Playwrite IS", cursive;
        padding-top: 5%;
        max-width: 50rem;
        flex-wrap: wrap;

    }
}
