@keyframes pop-up-scroll {
    to{
        opacity:1;
        transform:scale(1);
    }
}

.tech-stack-item{
    &-wrapper{
        background-color: #F5F5F7;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        opacity: 0;
        transform: scale(0);
        animation-name: pop-up-scroll;
        animation-timeline: view(80% 1%);
        animation-fill-mode: forwards;

    }

    &-image{
        &-wrapper{
            margin: 1rem 1rem 1rem 1rem;
            width:12%;
            align-self: top;
            background: transparent;
        }
        &-content{
            width: 100%;
            border-radius: 1rem;
            background: transparent;
        }
    }

    &-content{
        display: flex;
        flex-direction: column;
        >.name{
            padding-top: 1rem;
        }
        
        >.description{
            font-size: 1rem;
            &-heading{
                font-size: 1.8rem;
            }    
        }

    }
}