@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jersey+25+Charted&family=Kalam:wght@300;400;700&family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.full-width-centre-content{
    width:100vw;
    display: flex;
    justify-content: center; 
}

.my-name{
    @extend .full-width-centre-content;
   font-size: 10vw; 
   font-family: "Dancing Script", cursive;
}

.my-photo{
@extend .full-width-centre-content;
background-color: antiquewhite;
height: 24em;

}

.generic-content-wrapper{
    @extend .full-width-centre-content;
    font-size: 5em;    
}

@keyframes un-hide{
    0%{
        transform: translateY(100px);
        opacity:0
    }
    50%{
        opacity: 0;
    }
    100%{
        transform:  translateY(0px) ;
    }

}

@keyframes scroll-animation{
    from{
        transform: scale(0.5, 0.5);
    }
    to{
        transform: scale(1,1);
    }
}

.translate-content{
    opacity: 0;

    &--animate{
        opacity: 1;
        animation-duration: 0.5s;
        animation-name: un-hide;
    }
}

.triiger-when-in-view-default{
    opacity: 0;
}

.scroll-animation{
animation-name: scroll-animation;
animation-timeline: view();
}


