@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swa');

.sticky-key{
    display: flex;
    >.key-wrapper {
        position: relative;
        >.key{
            font-size: 2.5em;
            padding: 3em;
            position: sticky;
            font-weight: 600;
            font-family: "Inter Tight", sans-serif;
            top: 0;
        }
    }
}

.row-value{
    display: flex;
    font-size: 2.5em;
    font-weight: 400;
    font-family: "Inter Tight", sans-serif;
    padding: 3em;
    padding-left: 0;
}