@import '../../styles.scss';

.shutter{
    &-scrollable{
        &-wrapper{
            @extend .full-height-width;
            overflow-y: scroll;
            scrollbar-width: none;
        }
        &-container{
            position: relative;
            width: 100%;
            height:200%;
        }
    }
    &-container{
        position: relative;
        width: 100%;
        height:100%;
    }
    &-background{
        position: sticky;
        top:0;
        width: 100%;
        height: 50%;
    }
    &-front{
        position: absolute;
        top: 0;
        width: 100%;
        height: 50%;
    }
}